{% extends "base.html" %}
{% block title %} Create College{% endblock %}
{% block content %}
<h1> Simple Student Information System </h1>
<section class="create-type">
	<div class="container">
		<h2>CREATE COLLEGE HERE</h2>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for msg in messages %}
					<p class="text-center">{{msg}}</p>
				{% endfor %}
			{% endif %}
		{% endwith %}
		<form action="" method="POST" class="form-group">
			<label for="college-code" class="form-label">College code</label>
			<input type="text" class="form-control" id="college-name" name="college-code" placeholder="e.g CCS" required>
			<label for="college-name" class="form-label">College name</label>
			<input type="text" class="form-control" id="college-name" name="college-name" placeholder="e.g College of Computer Studies" required>
			<input type="submit" name="submit-college" class="btn btn-primary form-control" value="Create">
			<a href="../" class="btn btn-info form-control">Back</a>
		</form>
	</div>
</section>
{% endblock %}